APP_ENV=dev
MODEL_VERSION=2.0.0

MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=BostonHousingDB
MSSQL_USER=sa
MSSQL_PASSWORD=CHANGE_ME
MSSQL_DRIVER=ODBC Driver 18 for SQL Server

JWT_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
