pandas
numpy
scikit-learn
matplotlib
seaborn
fastapi
uvicorn
joblib
pydantic
pytest
httpx
dvc
requests
pyyaml
sqlalchemy
alembic
pyodbc
ansible-core
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
confluent-kafka
